//- body.jade
//- This file provides the HTML body part.

body
  table
    tr
      td
        h1 Hi There!
        p Welcome to StackMonkey. This app endeavours to make your Stack Experience a better one.
        p Useful links:
        ul
          li <a href="http://chat.stackexchange.com/rooms/20341/stackmonkey" target="_blank">Chat room for discussions around this app</a>
          li <a href="https://github.com/rolfl/StackMonkey" target="_blank">Github source for me</a>
          li <a href="http://stackexchange.com/" target="_blank">Stack Exchange itself</a>
        p Some useful <a href = "https://www.ng.bluemix.net/docs/#starters/nodejs/index.html#nodejs" target="_blank">Bluemix documentation</a>.
      td(style= "width:30%;" )
        img(src="/images/VervetMonkey.small.jpg")
